<%= form.fields_for :phones do |phones_form| %>
  <div class="mb-2 flex-grow-1 d-flex gap-3 align-items-end">
    <div class="flex-grow-1">
      <%= phones_form.label :number, "Phone number", class: "form-label" %>
      <%= phones_form.text_field :number, class: "form-control", :minlength => 10, :maxlength => 10, :inputmode => 'numeric', :pattern => '\d*', :required => true %>
    </div>
    <div class="form-check pb-1">
      <%= phones_form.check_box :_destroy, class: "form-check-input" %>
      <%= phones_form.label :_destroy, "Remove", class: "form-check-label text-danger" %>
    </div>
  </div>
<% end %>
