<div class="border rounded-3 p-3 mb-3 shadow">
  <h3>Phone info</h3>
  <%= form.fields_for :phones do |phones_form| %>
    <div class="mb-2 border border-light bg-light rounded-3 p-3">
      <div class="mb-2">
        <%= phones_form.label :number, "Phone number", class: "form-label" %>
        <%= phones_form.phone_field :number, class: "form-control", :minlength => 10, :maxlength => 10, :inputmode => 'numeric', :pattern => '\d*', :required => true %>
      </div>
      <div class="w-100">
        <%= phones_form.label :comment, "Comment", class: "form-label" %>
        <%= phones_form.text_area :comment, class: "form-control" %>
      </div>
    </div>
  <% end %>

</div>
