<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# Salutation %>
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
    <div class="mb-2">
      <%= form.label :salutation, class: "form-label" %>
      <select name="person[salutation]" id="person_salutation" class="form-select">
        <% Person.salutations.map do |k, v| %>
          <option value="<%= k %>"><%= v %></option>
        <% end %>
      </select>
    </div>
  </div>
  <%# Name Inputs %>
  <div class="d-flex flex-wrap flex-lg-nowrap gap-3">
    <div class="mb-2 flex-grow-1">
      <%= form.label :firstname, "Firstname (required)", class: "form-label" %>
      <%= form.text_field :firstname, class: "form-control", :required => true %>
    </div>
    <div class="mb-2 flex-grow-1">
      <%= form.label :middlename, class: "form-label" %>
      <%= form.text_field :middlename, class: "form-control" %>
    </div>
    <div class="mb-2 flex-grow-1">
      <%= form.label :lastname, "Lastname (required)", class: "form-label" %>
      <%= form.text_field :lastname, class: "form-control", :required => true %>
    </div>
  </div>
  <%# Birthdate and SSN %>
  <div class="d-flex flex-wrap gap-3">
    <div class="mb-2 flex-grow-1">
      <%= form.label :birthdate, class: "form-label" %>
      <%= form.date_field :birthdate, class: "form-control" %>
    </div>
    <div class="mb-2 flex-grow-1">
      <%= form.label :ssn, class: "form-label" %>
      <%= form.text_field :ssn, class: "form-control", :minlength => 10, :maxlength => 10, :inputmode => 'numeric', :pattern => '\d*' %>
    </div>
  </div>
  <%# Email Inputs (soon) %>
  <%# Phone Inputs %>
  <div class="d-flex flex-wrap gap-3">
    <%= render partial: 'phones/phone', locals: { form: form }%>
  </div>
  <%# Address Inputs (soon)%>
  <%# Comments %>
  <div class="mb-2">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>
  <%# SUBMIT %>
  <div class="my-4">
    <%= button_tag "Submit", type: 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
