<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-2">
    <%= form.label :salutation, class: "form-label" %>
    <select name="person[salutation]" id="person_salutation" class="form-select">
      <% Person.salutations.map do |k, v| %>
        <option value="<%= k %>"><%= v %></option>
      <% end %>
    </select>
  </div>
  <div class="mb-2">
    <%= form.label :firstname, "Firstname (required)", class: "form-label" %>
    <%= form.text_field :firstname, class: "form-control", :required => true %>
  </div>
  <div class="mb-2">
    <%= form.label :middlename, class: "form-label" %>
    <%= form.text_field :middlename, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= form.label :lastname, "Lastname (required)", class: "form-label" %>
    <%= form.text_field :lastname, class: "form-control", :required => true %>
  </div>
  <div class="mb-2">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate, class: "form-control" %>
  </div>
  <div class="mb-2">
    <%= form.label :ssn, class: "form-label" %>
    <%= form.text_field :ssn, class: "form-control", :minlength => 10, :maxlength => 10, :inputmode => 'numeric', :pattern => '\d*' %>
  </div>
  <div class="mb-2">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_field :comment, class: "form-control" %>
  </div>
  <div class="my-4">
    <%= button_tag "Submit", type: 'submit', class: 'btn btn-primary' %>
  </div>
<% end %>
