<%= form.fields_for :addresses do |addresses_form| %>
  <div class="rounded-3 p-3 mb-3 bg-light">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <%= addresses_form.label :street, "Street", class: "form-label" %>
        <%= addresses_form.text_field :street, class: "form-control", :required => true %>
      </div>
      <div class="col-12  col-sm-6 col-lg-4 col-xl-3">
        <%= addresses_form.label :town, "Town", class: "form-label" %>
        <%= addresses_form.text_field :town, class: "form-control", :required => true %>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <%= addresses_form.label :zip, "Zip", class: "form-label", :minlength => 5, :maxlength => 5, :inputmode => 'numeric' %>
        <%= addresses_form.text_field :zip, class: "form-control", :required => true %>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <%= addresses_form.label :state, "State", class: "form-label" %>
        <%= addresses_form.text_field :state, class: "form-control" %>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <%= addresses_form.label :country, class: "form-label" %>
        <%= addresses_form.collection_select :country, Address.countries, :first, :last, { include_blank: true }, class: "form-select" %>
      </div>
    </div>
  </div>
<% end %>
