<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="mb-2 border border-light bg-light rounded-3 p-3">
    <div class="mb-2">
      <%= f.label :address, "Email address", class: "form-label" %>
      <%= f.email_field :address, class: "form-control", :required => true %>
    </div>
    <div class="w-100">
      <%= f.label :comment, "Comment", class: "form-label" %>
      <%= f.text_area :comment, class: "form-control" %>
    </div>
    <div class="d-flex justify-content-end pt-3">
      <button type="button" data-action="nested-form#remove" class="btn btn-sm btn-outline-danger">Remove Email</button>
    </div>
  </div>
</div>
