<!DOCTYPE html>
<html>
  <head>
    <title>AddressBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-light">
      <div class="container">
        <%= render 'layouts/nav' %>
      </div>
    </div>

    <div class="container">
      <div id="flash" class="flash">
        <%= render "layouts/flash" %>
      </div>

      <%= yield %>

    </body>
  </html>
